USE [QLBanHangDienThoaiLaptop]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 10/07/2026 6:55:59 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MaCTHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [varchar](10) NULL,
	[MaSP] [varchar](10) NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 10/07/2026 6:55:59 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [varchar](10) NOT NULL,
	[NgayLap] [datetime] NULL,
	[MaKH] [varchar](10) NULL,
	[MaNV] [varchar](10) NULL,
	[TongTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/07/2026 6:55:59 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 10/07/2026 6:55:59 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MaLoai] [varchar](10) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/07/2026 6:55:59 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 10/07/2026 6:55:59 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [varchar](10) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[Hinh] [nvarchar](200) NULL,
	[MoTa] [nvarchar](max) NULL,
	[HangSX] [nvarchar](100) NULL,
	[MaLoai] [varchar](10) NULL,
 CONSTRAINT [PK__SANPHAM__2725081C59355123] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 10/07/2026 6:55:59 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHITIETHOADON] ON 

INSERT [dbo].[CHITIETHOADON] ([MaCTHD], [MaHD], [MaSP], [SoLuong], [DonGia], [ThanhTien]) VALUES (58, N'HD001', N'SP022', 1, CAST(21090000.00 AS Decimal(18, 2)), CAST(21090000.00 AS Decimal(18, 2)))
INSERT [dbo].[CHITIETHOADON] ([MaCTHD], [MaHD], [MaSP], [SoLuong], [DonGia], [ThanhTien]) VALUES (59, N'HD001', N'SP002', 1, CAST(26490000.00 AS Decimal(18, 2)), CAST(26490000.00 AS Decimal(18, 2)))
INSERT [dbo].[CHITIETHOADON] ([MaCTHD], [MaHD], [MaSP], [SoLuong], [DonGia], [ThanhTien]) VALUES (60, N'HD001', N'SP008', 1, CAST(43990000.00 AS Decimal(18, 2)), CAST(43990000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CHITIETHOADON] OFF
GO
INSERT [dbo].[HOADON] ([MaHD], [NgayLap], [MaKH], [MaNV], [TongTien]) VALUES (N'HD001', CAST(N'2026-07-10T06:40:58.780' AS DateTime), N'KH01', N'NV01', CAST(93570000.00 AS Decimal(18, 2)))
INSERT [dbo].[HOADON] ([MaHD], [NgayLap], [MaKH], [MaNV], [TongTien]) VALUES (N'HD002', CAST(N'2026-07-10T06:41:51.007' AS DateTime), N'KH02', N'NV01', CAST(152495000.00 AS Decimal(18, 2)))
INSERT [dbo].[HOADON] ([MaHD], [NgayLap], [MaKH], [MaNV], [TongTien]) VALUES (N'HD003', CAST(N'2026-07-10T06:43:19.353' AS DateTime), N'KH03', N'NV01', CAST(42770000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [SDT], [DiaChi], [Email]) VALUES (N'KH01', N'Phạm Minh Hải', N'0911111111', N'Đắk Lắk', N'hai@gmail.com')
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [SDT], [DiaChi], [Email]) VALUES (N'KH02', N'Nguyễn Thị Lan', N'0922222222', N'Gia Lai', N'lan@gmail.com')
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [SDT], [DiaChi], [Email]) VALUES (N'KH03', N'Trần Quốc Việt', N'999999999', N'Đà Nẵng', N'viet@gmail.com')
GO
INSERT [dbo].[LOAISP] ([MaLoai], [TenLoai]) VALUES (N'L01', N'Điện thoại')
INSERT [dbo].[LOAISP] ([MaLoai], [TenLoai]) VALUES (N'L02', N'Laptop')
INSERT [dbo].[LOAISP] ([MaLoai], [TenLoai]) VALUES (N'L03', N'Phụ kiện')
GO
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [SDT], [DiaChi], [Email]) VALUES (N'NV01', N'Nguyễn Văn An', N'0901111111', N'Đắk Lắk', N'an@gmail.com')
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [SDT], [DiaChi], [Email]) VALUES (N'NV02', N'Trần Thị Bình', N'0902222222', N'Buôn Ma Thuột', N'binh@gmail.com')
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [SDT], [DiaChi], [Email]) VALUES (N'NV03', N'Lê Văn Cường', N'0903333333', N'Gia Lai', N'cuong@gmail.com')
GO
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonGia], [SoLuong], [Hinh], [MoTa], [HangSX], [MaLoai]) VALUES (N'SP001', N'iPhone 17 Pro Max 256GB', CAST(32000000.00 AS Decimal(18, 2)), 7, N'iphone-17-pro-max-cam-thumb-600x600.jpg', N'Điện thoại Apple cao cấp
Chip Apple A19 Pro 6 nhân
Dung lượng: 256 GB
Camera sau: Chính 48 MP & Phụ 48 MP, 48 MP
Camera trước: 18 MP
Pin 37 giờ, Sạc 40 W
Thời điểm ra mắt:
09/2025', N'Apple', N'L01')
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonGia], [SoLuong], [Hinh], [MoTa], [HangSX], [MaLoai]) VALUES (N'SP002', N'Samsung Galaxy S25 Ultra 5G 12GB/256GB', CAST(26490000.00 AS Decimal(18, 2)), 26, N'samsung-galaxy-s25-ultra-blue-thumbai-600x600.jpg', N'Chip Qualcomm Snapdragon 8 Elite For Galaxy 8 nhân

RAM: 12 GB

Dung lượng: 256 GB

Camera sau: Chính 200 MP & Phụ 50 MP, 50 MP, 10 MP

Camera trước: 12 MP

Pin 5000 mAh, Sạc 45 W', N'Samsung', N'L01')
GO
INSERT [dbo].[TAIKHOAN] ([Username], [Password], [Role], [MaNV]) VALUES (N'admin', N'1', N'Admin', N'NV01')
INSERT [dbo].[TAIKHOAN] ([Username], [Password], [Role], [MaNV]) VALUES (N'nhanvien1', N'1', N'Nhân Viên', N'NV02')
INSERT [dbo].[TAIKHOAN] ([Username], [Password], [Role], [MaNV]) VALUES (N'nhanvien2', N'1', N'Nhân Viên', N'NV03')
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CTHD_SP]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_KH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_NV]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_LOAI] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAISP] ([MaLoai])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SP_LOAI]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TK_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TK_NV]
GO
